<div class="card">
	<div class="card-block">
		<h1>RSS Reader</h1>
		<div class="input-group">
			<input ng-model="rssFeedURL" type="text" class="form-control" placeholder="Enter an RSS link..." />
		</div>
		
		<br />
		
		<div class="btn-block btn-group-vertical">
			<button ng-repeat="rssURL in rssURLs" ng-click="changeUrl(rssURL.url)" class="btn btn-block btn-primary">{{ rssURL.title }}</button>
			
			<div class="input-group">
				<input ng-model="rssURL.title" type="text" class="form-control" placeholder="Title..." />
				<input ng-model="rssURL.url" type="text" class="form-control" placeholder="Link..." />
		
				<button ng-click="addURL(rssURL)" type="submit" class="btn btn-primary btn-md">
					<i class="fa fa-plus"></i>
				</button>
			</div>
		</div>
		
	</div>
		
		<button class="btn btn-primary btn-sm btn-block" data-toggle="collapse" data-target="#rssFeeds">
			<i class="fa fa-caret-down"></i>
		</button>

		<div id="rssFeeds" class="collapse">
			<div ng-if="rssFeeds.items.length > 0">
				<div ng-repeat="rssFeed in rssFeeds.items">
				<hr />
					<h3>
						{{ rssFeed.title }}
						<br />
						<small class="text-lighten-5">{{ rssFeed.author }}</small>
					</h3>
					<p ng-bind-html="rssFeed.description"></p>
				</div>
			</div>
			
			<div ng-if="rssFeeds.items.length == 0" class="text-center">
				<hr />
				<i class="fa fa-circle-o-notch fa-spin" style="font-size: 3rem; color: #4285F4;"></i>
			</div>
		</div>
	</div>
</div>