<div class="card">
	<div class="card-block">
		<h1>RSS Reader</h1>
		<div class="input-group">
			<input ng-model="rssFeedURL" type="text" class="form-control" placeholder="Enter an RSS link..." />
		</div>
		
		<br />
		
		<div class="btn-block btn-group-vertical">
			<button ng-click="changeUrl('http://rss.cnn.com/rss/cnn_tech.rss')" class="btn btn-block btn-primary">CNN Tech News</button>
			<button ng-click="changeUrl('https://EquestriaDaily.com/feeds/posts/default')" class="btn btn-block btn-primary">Equestria Daily</button>
		</div>
		
		<button class="btn btn-primary btn-sm btn-block" data-toggle="collapse" data-target="#rssFeeds">
			<i class="fa fa-caret-down"></i>
		</button>

		<div id="rssFeeds" class="collapse">
			<hr />
			<div ng-if="rssFeeds.items > 0">
				<div ng-repeat="rssFeed in rssFeeds.items">
					<h3>
						{{ rssFeed.title }}
						<br />
						<small class="text-lighten-5">{{ rssFeed.author }}</small>
					</h3>
					<p ng-bind-html="rssFeed.description"></p>
				</div>
			</div>
			
			<div ng-if="rssFeeds.items.length == 0">
				<i class="fa fa-circle-o-notch" style="font-size:36px;"></i>
			</div>
		</div>
	</div>
</div>